<div class="row">
  <div class="col-12 col-md-7">

    <nb-card size="large">
      <div class="col-12" style="margin-top: 30px; text-align: center;" [hidden]="cart.length != 0">
        <h6>Agrega productos para realizar una compra.</h6>
      </div>
      <nb-list>
        <nb-list-item *ngFor="let product of cart; let i=index;">
          <div class="col-3">
            <nb-badge *ngIf="product.discount != undefined" text="{{ product.discount }}% OFF" status="success" position="top right"></nb-badge>
            <div class="content_product_image">
              <img class="product_image" src="{{ product.image }}" alt="">
            </div>
          </div>
          <div class="col-9 content_btn">
            <div class="">
              {{ product.name }}
              <div *ngIf="product.discount != undefined">Precio normal:
                <i style="text-decoration: line-through;">{{ product.price | currency: 'COP' }}</i>
              </div>
              <h6>{{ getPrice(product) | currency: 'COP' }}</h6>
            </div>
            <div style="margin: auto 0;">
              <button nbButton outline status="danger" (click)="removeProduct(i)">x</button>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>

  <div class="col-12 col-md-5">
    <nb-card size="large">
      <nb-card-header>
        Finalizar Compra
      </nb-card-header>
      <nb-card-body>
        <h6>Numero de Productos: {{ cart.length }}</h6>
        <h6>Total: {{ getTotal() | currency: 'COP' }}</h6>

        <div *ngIf="record.length > 3" style="margin-top: 45px;">
          <h6>Descuento!</h6>
          <label for=""><b style="color: #05d890;">Por ser cliente frecuente obtienes un 5% de descuento en tu compra!</b></label>
          <h6>Nuevo Total: {{ getTotalDiscount() | currency: 'COP' }}</h6>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="content_btn">
          <button nbButton hero status="success" [disabled]="cart.length == 0 || !load" (click)="onConfirm()">Comprar</button>
          <button nbButton outline status="danger" (click)="cancelBuy()">Cancelar</button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>

</div>
